In [1]:
## Map Filter

In [3]:
a = 7

b = a ** 2

print(b)

a = [7,8,9,10]

b = a * 2

print(b)

49
[7, 8, 9, 10, 7, 8, 9, 10]

In [8]:
#Map (#operation, #List of elements)

def sqr(x):
    return x ** 2

Li1 = [7,8,9,10]

#Inbuilt function
b = list(map(float, Li1))

print(b)

#User defined function
b = list(map(sqr, Li1))

print(b)

[7.0, 8.0, 9.0, 10.0]
[49, 64, 81, 100]

In [13]:
#Filter (#operation, #List of elements)

def sqr(x):
    return x % 3 == 0

Li1 = [7,8,9,10]

#Inbuilt function
b = list(filter(float, Li1))

print(b)

#User defined function
b = list(filter(sqr, Li1))

print(b)

[7, 8, 9, 10]
[9]

In [14]:
#Anonymous functions or lambda

#lambda ==> one line function

In [15]:
def cube(x):
    return x ** 3

print(cube(4))

64

In [18]:
cube = lambda x:x**3
print(cube(4))

64

In [19]:
#Map with lambda

Li1 = [3,4,5,6,2,3,4,5]

Li2 = list(map(lambda x:x**4, Li1))

print(Li2)

[81, 256, 625, 1296, 16, 81, 256, 625]

In [28]:
#Filter with lambda

Li1 = [2,4,5,6,2,3,4,5]

Li2 = list(filter(lambda x:(x % 2 == 0), Li1))

print(Li2)

[2, 4, 6, 2, 4]

In [30]:
#Filter with lambda

Li1 = {2:3,4:5,6:2,3:4}

Li2 = list(filter(lambda x:(x % 2 == 0), Li1))

print(Li2)

[2, 4, 6]

In [36]:
from functools import reduce


Li1 = [2,4,5,6,2,3,4,5]

Li2 = reduce(lambda x,y: x + y, Li1)

print(Li2)


#[2,4,5,6,2,3,4,5]
#[6,5,6,2,3,4,5]
#[11,6,2,3,4,5]

31

In [40]:
#List comprehension

Li1 = []

for i in range(10,15):
    Li1.append(i)
    
print(Li1)


Li2 = [i for i in range(10,15)]
print(Li2)

Li2 = [i**2 for i in range(20,30)]
print(Li2)

[10, 11, 12, 13, 14]
[10, 11, 12, 13, 14]
[400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [41]:
#List comprehension with if condition

Li2 = [i**2 for i in range(20,30) if i % 2 ==0]
print(Li2)

[400, 484, 576, 676, 784]

In [42]:
#List comprehension with if else

Li2 = [i**2 if i % 2 ==0 else i for i in range(20,30) ]
print(Li2)

[400, 21, 484, 23, 576, 25, 676, 27, 784, 29]

In [43]:
Li2 = {i**2 for i in range(20,30)}
print(Li2)

{576, 484, 676, 841, 400, 529, 625, 784, 729, 441}

In [44]:
Li2 = {i:i**2 for i in range(20,30)}
print(Li2)

{20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841}